<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="{{wachttijd}}; URL={{volgende_url}}" />
    <title>Nu op de radio...</title>
</head>
<body>
<script>
    function triggerClickInsideIframe() {
        document.getElementById("iframe").contentWindow.document.getElementsByClassName("PlayControl clickitem")[0].click();
    }
</script>

<h3>{{tekst}}</h3>
<iframe
        width="300px"
        height="160px"
        src="{{iframe}}"
        allow="autoplay"
        id="iframe"
        title="Muziekje erbij?"></iframe>

<h3>Statistieken sinds je bent begonnen met luisteren:</h3>
Maximaal aantal zaps: {{stats['Maximaal aantal zaps']}}<br>
Totaal aantal zaps: {{stats['Totaal aantal zaps']}}<br>
Aantal vrouwen gehoord: {{stats['Aantal vrouwen gehoord']}}<br>
Aantal mannen gehoord: {{stats['Aantal mannen gehoord']}}<br>

</body>
</html>